body {
    /* background-color: #00218F; */
    font-family: 'Roboto', sans-serif;
}

a {
    color : white;
    text-decoration: none;
}

p {
    text-align: center;
    margin: 0px;
}

/* main_menu list */
ul {
    list-style-type: none;
    padding:  0px;
    margin: 0px;
}

ul li {
    display: inline-block;

    padding-top: 20px;
    padding-bottom: 20px;
}

/* HOVER */
a:hover {
    color: rgb(0, 132, 255);
}

.authentification a:hover, .try_and_watch_button a:hover {
    background-color: white;
}
/* FIN HOVER */

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 12px;
    align-items: center;
}

.main_logo {
    display: inline-block;
}

.main_menu {
    display: flex;
    flex-wrap: wrap;
}

.main_menu a { 
    padding-left: 10px;
    padding-right: 10px;
}

.authentification {
    display: inline-block;
}

.authentification a {
    line-height: 60px;
}

.authentification a, .try_and_watch_button a{
    border : 1px solid white;
    border-radius: 10px;

    padding-left: 45px;
    padding-right: 45px;

    padding-top: 20px;
    padding-bottom: 20px;
}

.login_button {
    margin-right: 10px;
}

.main_slogan {
    font-size: 47px;
    margin-top: 150px;
}

.business {
    color: rgb(61, 210, 210);
    text-decoration: underline;
}

.second_slogan {
    font-size: 12px;
    margin-top: 60px;
}

.try_and_watch_button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.try_button {
    margin-right: 25px;
}

.main_dashboard {
    display: flex;
    justify-content: center;
}

.dashboard_picture
, .servicenow_logo, .paychex_solo, .github_logo, .stripe_logo, .zendesk_logo {
/*, .finance_security_div, .synchronization_div, .cloud_drive_div, .file_sharing_div {*/
    max-width: 100%;
    max-height: 100%;
}

.footer {
    background-color: white;
}

.bandeau_partenaire
, .our_solution_dashboard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
}

.our_solution_first_sentence {
    font-size: 27px;
    color: rgb(58, 58, 221);
    
    margin-top: 150px;
    margin-bottom: 40px;
}

.our_solution_second_sentence {
    font-size: 10px;
    color: grey;
}

.our_solution_dashboard_bloc  {
    border : 1px solid grey;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    
    padding: 35px;
    margin : 1  5px;
}

.our_solution_dashboard_bloc:hover {
    background-color: blue;
    transition: 1s;
}

.our_solution_dashboard_bloc:hover
, .our_solution_dashboard_bloc:hover p {
/* , .our_solution_dashboard_bloc:hover a { */
    color: white;
}

.our_solution_dashboard_bloc:hover a {
    color: white;
    font-size: 18px;
}

.our_solution_dashboard_main_subject {
    color: black;
    margin-top: 30px;
    text-align: start;

    font-size: 18px;
    font-weight: bold;
}

.our_solution_dashboard_all_information {
    color: grey;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: start;
}

.our_solution_dashboard_learn_more {
    color: rgb(100, 100, 220);
    display: block;
    text-decoration: underline;
}

.easy_people_tried_and_dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    margin-top: 225px;
    margin-bottom: 120px;
   }
   
.easy_people_tried {
    background-color: rgb(225, 219, 219,0.5);
    padding-left: 120px;
    padding-right: 110px;
    padding-top: 60px;
}

.easy_collaborative_first_sentence {
    color: blue;
    text-align: start;
    font-size: 40px;
}

.easy_collaborative_second_sentence {
    color: grey;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: start;
}

.easy_collaborative_third_sentence {
    display: inline;
}

.people_tried {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.margin_neg_people_tried {
    margin-left:  -10px;
}

.tried {
    margin-left: 15px;
    margin-right: 15px;
}

.try_for_free_div {   
    margin-top: 50px;
}

.try_for_free{
    border : 1px solid cornflowerblue;
    border-radius: 10px;

    padding-left: 45px;
    padding-right: 45px;

    padding-top: 20px;
    padding-bottom: 20px;

    margin: 10px;

    color: white;
    background-color: blue;
    display: inline-block;
}

.try_for_free:hover {
    background-color: white;
}

.deux {
    color: blue;
    text-align: center;
    font-size: 40px;
    display: block;
}

.trois {
    color: grey;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.quatre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.checkbox {
    margin-right: 25px;
    margin-left: 25px;
}

.cinq {
    margin-top: 23px;
    margin-bottom: 170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    padding-left: 110px;
    padding-right: 110px;
}


.six {
    border : 1px solid black;
    border-radius: 10px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    padding-bottom: 38px;

    margin-right: 12px;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.six:hover {
    background-color: blue;
    transition: 1s;
}

.six:hover span
{
    color: white;
}

.six:hover i
{
    background-color: white;
}

.six:hover a
{
    background-color: white;
    color: blue;
}

.standart {
    color: blue;
    text-align: center;
    font-size: 30px;
    display: block;
}

.national_average {
    color: grey;
    text-align: center;
    display: block;

    margin-top: 40px;
    margin-bottom: 50px;
}

.price {
    text-align: center;
    display: block;
}

.dollard {
    color: blue;
    font-size: 50px;
}

.per_month {
    color: grey;
}

.select_plan {
    border : 1px solid cornflowerblue;
    border-radius: 10px;

    padding-left: 45px;
    padding-right: 45px;

    padding-top: 20px;
    padding-bottom: 20px;

    color: white;
    background-color: blue;

    display: block;
    text-align: center;

    margin-top: 45px;
    margin-bottom: 38px;
}

.block_price {
    /* text-align: center; */
    display: block;

    padding-top: 12px;
    padding-bottom: 12px;
}

.check_price_list {
    border : 1px solid black;
    border-radius: 50%;

    width: 20px;
    height: 20px;

    text-align: center;
    vertical-align: center;
    line-height: 20px;
}

.cross_check {
    background-color: grey;
}

.text_deco_barre {
text-decoration: line-through;
}

.grounddesk_loved_section {
    padding-left: 30px;
    margin-bottom: 170px;
}

.grounddesk_is_loved_div {
    display: flex;
    justify-content: space-between;
}

.grounddesk_is_loved_sentance {
    color: blue;
    text-align: center;
    font-size: 30px;
    display: block;
}

.previous_page {
    margin-right: 50px;
}

.comment_div_global {
    display: flex;
    justify-content: center;
}

.comment_div {
    border : 1px solid black;
    border-radius: 10px;

    background-color: white;
    margin: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.profil {
    display: flex;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

.name {
    padding-left: 20px;
}

.block {
    display: block;
}

.role {
    color: gray;
    display: block;
    padding-top: 15px;
}

.comment {
    color: grey;
    text-align: start;
}

.notation {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(214, 211, 211);   
    padding: 0 120px;
}


.footer_part_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_part_one_one {
    min-width: 320px;
}

.manage_easily {
    margin-top: 45px;
    margin-bottom: 15px;
}

.footer_part_one_two {
    display: flex;
    justify-content: space-evenly;
}

.li_bold {
    font-weight: bold;
}

.li_footer {
    width: 100%;
}

.all_right {
    color: grey;
}
/* TEMP */
.header
, .try_and_watch_button {
    background-color: blue;
}